*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

body{
    font-family: 'PT Sans', sans-serif;
}

/*COMMON*/
/*/COMMON*/

/*HEADER*/
/*/HEADER*/

/*DEMO APPLICATION*/
/*/DEMO APPLICATION*/

/*PLANNING*/
/*/PLANNING*/

/*TESTIMONIALS*/
/*/TESTIMONIALS*/

/*BENEFITS*/
/*/BENEFITS*/

/*ABOUS US*/
/*/ABOUS US*/

/*GET STARTED*/
/*/GET STARTED*/

/*FOOTER*/
/*/FOOTER*/